.Toolbar {
    height: 56px;
    width: 100%;
     top: 0;
    left: 0;
    background-color: cornflowerblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;}


.Toolbar nav {
    height: 100%;
}

.Toolbar-logo {
    height: 80%;
}